{% extends "base.html" %}
{% load i18n %}
{% load sitemanagertags %}

{% block title %}{{ page.title }}{% endblock %}

{% block extrahead %}
{{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}sitemanager/css/jquery.treeview.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}contentmanager/css/contentmanager.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}sitemanager/css/sitemanager.css" type="text/css" media="screen">
{% endblock %}

{% block top %}
    {% sitemanager %}
{% endblock %}

{% block content %}{% endblock %}

{% block extrajs %}
{{ block.super }}
{% if user.is_authenticated and user|is_editor:page %}
    <script type="text/javascript" src = "{{ STATIC_URL }}contentmanager/js/jquery.form.js"></script>
    <script type="text/javascript" src = "{{ STATIC_URL }}contentmanager/js/jquery.contentmanager.js"></script>
    <script type="text/javascript" src = "{{ STATIC_URL }}sitemanager/js/jquery.sitemanager.js"></script>
    <script type="text/javascript" src="{% load adminmedia %}{% admin_media_prefix %}js/urlify.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
        var options = {
        onsubmit: [function(){
                     $('textarea:tinymce').each(
                       function(){
                         $(this).tinymce().save();
                       }
                     )
                   }
                  ]
        };
        jQuery(document).contentmanager(options);
        jQuery(document).sitemanager();
        });
    </script>
{% endif %}
{% endblock %}
