{% extends "1-col.html" %}
{% load i18n %}

{% block content %}
<div id="content" class="grid_12">
    <h2>{% trans "Logged out" %}</h2>
    <p>You can go back to the <a href="{{ next }}">previous page</a>, maybe visit the <a href="/">homepage</a> or <a href="{% url login %}">{% trans 'log in again' %}</a></p>
</div>
{% endblock %}
