{% extends "1-col.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
<div id="content" class="grid_12">
	<h2>{% trans "Log in" %}</h2>

	{% if form.errors %}
	<p class="error">{% trans "Please correct the errors below" %}: {{ form.non_field_errors }}</p>
	{% endif %}

	<form method="post" action="?next={{ next|default:"/" }}">{% csrf_token %}
		<dl>
			<dt><label for="id_username">{% trans "Username" %}:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
			<dd>{{ form.username }}</dd>
			<dt><label for="id_password">{% trans "Password" %}:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
			<dd>{{ form.password }}</dd>
			<dt><input type="submit" value="Log in" /></dt>
		</dl>
	</form>
	{% url auth_password_reset as reset_url %}
	<p>{% blocktrans %}Have you <a href="{{ reset_url }}">forgotten your password</a>?{% endblocktrans %}</p>
	{% url registration_register as registration_url %}
	<p>{% blocktrans %}If you don't have an account, you can <a href="{{ registration_url }}">sign up</a> for one.{% endblocktrans %}</p>
</div>
{% endblock %}