{% extends "1-col.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}

{% block content %}
<div id="content" class="grid_12">
	<h2>{% trans "You've been logged out." %}</h2>
	{% url auth_login as login_url %}
	<p>{% blocktrans %}You can go back to the <a href="{{ next }}">previous page</a>, maybe visit the <a href="/">homepage</a> or <a href="{{ login_url }}">log in again</a>{% endblocktrans %}</p>
</div>
{% endblock %}
