{% load  i18n fb_versions%}
{% if title %}<h2>{{ title }}</h2>{% endif %}
<div class="carousel-{{ block_id }}" style="width:{{ width }}px;display:none;">
  {% if not filelist %}
  <p>No files</p>
  {% else %}
  {% spaceless %}
  <ul style="padding:0;margin:0; height:130px;">{% for file in filelist %}
    <li style="display:inline-block;margin:0;padding:0;overflow:visible;min-height:129px;">
      <a href="{{ url }}"><img width="{{ width }}" alt="{{ text }}" src="{{ file }}"></a>
    </li>
  {% endfor %}
  </ul>
  {% endspaceless %}
  {% endif %}
</div>
<script type="text/javascript" src = "{{ STATIC_URL }}filebrowser_plus/js/carousel/jquery.carousel.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('div.carousel-{{ block_id }}').css({'display':'block'});
    $('div.carousel-{{ block_id }}').carousel( {
       direction: '{{ direction }}',
       autoSlide: {{ autoslide|lower }},
       autoSlideInterval: {{ autotime }},
       delayAutoSlide: {{ autodelay }},
       dispItems: {{ items }},
       nextBtn: "",
       prevBtn: "",
       loop: {{ loop|lower }},
       effect: '{{ effect }}',
       animSpeed: '{{ animspeed }}'
    } );
    // Fix ie7 (and 6?)
    if (jQuery.browser.msie && jQuery.browser.version<=7) {
      $('div.carousel-{{ block_id }} li').css({'display':'inline','zoom':'1','max-height':'129px', 'overflow':'hidden'});
    }
  });
</script>
