/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #444;
    padding-top: 5px;
}

a   {
    color: #C35A18;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.15em;
}

h3 {
    font-size: 1.1em;
    font-style: italic;
}

header {
    color: #FFF;
    text-align: center;
    background: none repeat scroll 0 0 #0E6E74;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}

footer {
    font-size: .9em;
    text-align: center;
    background: none repeat scroll 0 0 #C35A18;
    padding: 10px;
    margin-top: 10px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}

footer, footer a{
    color: #FFF;
}
a {
    text-decoration: none;
}

input {
    height: 1.8em;
    width: 150px;
    border-radius: 3px;
}

.container p {
}

#menurow {
    overflow: visible; /* set overflow to visible to show submenu items outside of div */
    border-bottom: 1px solid #0E6E74;
}

#menurow.row {
    height: 2.5em;
    background-color: #0E6E74;
}
#menu {
    background-color: #0E6E74;
}

#searchform {
}

#searchfield {
    float: right;
    position: relative;
    right: 1em;
    background-color: #FFF;
    border: 2px solid #C35A18;
    text-align: left;
    color: #000;
}

#searchbutton {
    float: right;
    position: relative;
    right: -10.5em;
    width: 28px;
    height: 28px;
    background: url("/static/images/search.png") no-repeat scroll center center transparent;
    border: none;
    text-indent: -8000px;
}

#content{
    padding: 10px;
}

.radial-center {
    /* fallback */
    background-color: #CCC;

    /* Safari 4-5, Chrome 1-9 */ 
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FFF), to(#AAA)); 

    /* Safari 5.1+, Chrome 10+ */ 
    background: -webkit-radial-gradient(circle, #FFF, #AAA); 

    /* Firefox 3.6+ */ 
    background: -moz-radial-gradient(circle, #FFF, #AAA);

    /* IE 10 */ 
    background: -ms-radial-gradient(circle, #FFF, #AAA); 
    /* Opera cannot do radial gradients yet */ 
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

    body {
        
    }

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*  .logo {
        background: url(logo2x.jpg) no-repeat;
        background-size: 212px 303px;
    }*/

}
