{% extends '1-col.html' %}
{% load i18n %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
  <h2>{% trans 'Search' %}</h2>
  
  <form method="get" action=".">
    <table>
      {{ form.as_table }}
      <tr>
        <td>&nbsp;</td>
        <td>
          <input type="submit" value="{% trans 'Search' %}">
        </td>
      </tr>
    </table>
  </form>
  {% if query %}
    <h2>{% trans 'Results' %}</h2>
  
    {% for result in page.object_list %}
      {% if result.rendered %}
      {{ result.rendered|safe }}
      {% else %}
          <h3><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a></h3>
          <p>{{ result.get_stored_fields.text|striptags|truncatewords:50 }}</p>
      {% endif %}
    {% empty %}
      <p>{% trans 'No results found.'%}</p>
    {% endfor %}
  
    {% if page.has_previous or page.has_next %}
      <div>
        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; {% trans 'Previous' %}{% if page.has_previous %}</a>{% endif %}
        |
        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}{% trans 'Next' %} &raquo;{% if page.has_next %}</a>{% endif %}
      </div>
    {% endif %}
  {% endif %}
{% endblock %}        
