{% extends "contentmanager/contentmanager_base.html" %}
{% load contentmanagertags %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="threecol">
			{% get_area request 'leftside' %}
		</div>
		<div class="sixcol">
			{% get_area request 'content' %}
		</div>
		<div class="threecol last">
			{% get_area request 'rightside' %}
		</div>
	</div>
</div>
{% endblock %}
