{% extends "base.html" %}
{% block content %}
<div id="content" class="grid_12">
    <h1>404 Not Found</h1>
    <p>Oops, the url you entered (or followed) does not exist on this
    website. Perhaps you can find what you were looking for by
    navigating from <a href="/">the homepage</a>, or by <a href="/search/">searching</a>?
    </p>
</div>
{% endblock %}
