{% load i18n contentmanagertags %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon">
    <title>{% block title %}ReveCMS demo template{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 1140px Grid styles for IE -->
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css" type="text/css" media="screen" /><![endif]-->

    <!-- The 1140px Grid - http://cssgrid.net/ -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/1140.css" type="text/css" media="screen" />

    <!-- Your styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css" media="screen" />

    <!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/css3-mediaqueries.js"></script>

    <!-- This script enables structural HTML5 elements in old IE: http://code.google.com/p/html5shim/ -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- load jQuery and jQuery-UI libraries -->
    <!-- Django-TinyMCE 1.5.x and jQuery 1.7.2 conflict in contentmanager, test contentmanager well before upgrade -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/overcast/jquery-ui.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/superfish.css" media="screen">
    <script type="text/javascript" src="{{ STATIC_URL }}js/hoverIntent.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
    <script type="text/javascript">
        // initialise superfish menu
        $(document).ready(function() {
            $('ul.sf-menu').superfish({
            });
        });
    </script>

    {% block extrahead %}{% endblock %}

</head>

<body class="radial-center">
<div class="container"><!-- placeholder for sitemanager -->
    <div class="row">
        <div class="twelvecol last">
            {% block top %}{% endblock %}
        </div>
    </div>
</div>
<div class="container"><!-- placeholder for header -->
    <div class="row">
        <div class="twelvecol last">
            <header>
            {% block header %}<h1>ReveCMS demo template</h1>{% endblock %}
            </header>
        </div>
    </div>
    <div id="menurow" class="row">
        <div id="menu" class="twelvecol last">
            {% include "menu.html" %}<!-- include the menu -->
            <form id="searchform" action="/search/" method="get">
                <input type="text" id="searchfield" name="q" value=""/>
                <button type="submit" id="searchbutton">_</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div id="content" class="twelvecol last">
            {% block content %}Lorem Ipsum{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="twelvecol last">
            <footer>
                {% block footer %}
                    <a href="http://www.co-capacity.org">&copy; 2012 Co-Capacity</a> |
                    <a href="/" title="Home"> Home</a> |
                    <a href="/site-map/" title="Site Map"> Sitemap</a> |
                    <a href="/contact/" title="Contact"> Contact</a> |
                    <a href="/rss/" title="Feeds"><img src="{{ STATIC_URL }}images/rss.gif" alt="rss"/> RSS Feeds</a> |
                    {% if request.user.is_anonymous %}
                        <a href="/accounts/login/?next={{request.path}}" title="Log in">Login</a>
                    {% else %}
                        {% trans "Logged in as" %} {{ request.user }} | <a href="/accounts/logout/?next={{ request.path }}">{% trans 'Log out' %}</a>
                    {% if request.user.is_staff %} | <a href="/admin/" title="Admin">{% trans 'Admin' %}</a>{% endif %}
                    {% endif %}
                {% endblock %}
            </footer>
        </div>
    </div>
</div>
</body>
{% block extrajs %}{% endblock %}
</html>
