{% load sitemanagertags %}

<ul class="sf-menu">
    {% if page %}
        {% ifequal request.path '/search/' %}
        <li><a href="/">Home</a></li>
        {% else %}
        <li{% if page.is_root %} class="current"{% endif %}><a href="/"{% if page.is_root %} class="current"{% endif %}>{{ page.get_root.title }}</a></li>
        {% endifequal %}
    {% else %}
        <li><a href="/">Home</a></li>
    {% endif %}
    {% for p in page.get_root|menu_pages:user %}
        <li{% ifequal p selectedmenu %} class="current"{% endifequal %}><a href="{{ p.get_absolute_url }}"{% ifequal p selectedmenu %} class="current"{% endifequal %}>{{ p.title }}</a>
        {% if p|menu_pages:user %}
            <ul>
            {% for cp in p|menu_pages:user %}
                <li{% ifequal cp selectedsubmenu %} class="current"{% endifequal %}><a href="{{ cp.get_absolute_url }}"{% ifequal cp selectedsubmenu %} class="current"{% endifequal %}>{{ cp.title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        </li>
    {% endfor %}
</ul>
