<style type="text/css">
    .home {
        background:url({{ header }}) no-repeat center top;
    }
    #bottom {
        margin-top: -150px;
        min-height: 150px;
        overflow: visible;
        background: url({{ footer }}) no-repeat center bottom;
    }
</style>
<!--[if !IE]>
<style type="text/css">
#home-ie-only {
    background: url({{ footer }}) no-repeat center bottom;
}
.home {
    background:url({{ header }}) no-repeat center top;
}
</style>
<![endif]-->